<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/stylesGame.css">
</head>
<body>
    <div class="wrapper">
        <div id = 'gameUI'>
                

            <div class="UIsection1">
                <p id="pTagPlayers"><b>Mitspieler</b></p>

                <div id = "players"></div>

                <button id = "btnFinishRound">Finish</button>

                <hr style="width: 100px; margin-left: 0;">

                <button id = 'btnstartGame'> Start Game </button>
            </div>

            <div class="UIsection2">

                <p class="header-console">Konsole:</p>

                <div id="console">

                </div>


            </div>

        </div>

        <div id="hidden-section">
            <div id="cardPlace9" class="cardPlace"> 
                <img id= "pic9" src="">
            </div>
        </div>
        
        <div id="karten-section" class="karten-section">

            <div class="cardPlaceholder" id="triggerCard0">
                <div id="cardPlace0" class="cardPlace"> 
                    <img id= "pic0" src="" draggable="false">
                </div>
            </div>

            <div class="cardPlaceholder" id="triggerCard1">
                <div id="cardPlace1" class="cardPlace"> 
                    <img id= "pic1" src="">
                </div>
            </div>

            <div class="cardPlaceholder" id="triggerCard2">
                <div id="cardPlace2" class="cardPlace"> 
                    <img id= "pic2" src="">
                </div>
            </div>

            <div class="cardPlaceholder" id="triggerCard3">
                <div id="cardPlace3" class="cardPlace"> 
                    <img id= "pic3" src="">
                </div>
            </div>

            <div class="cardPlaceholder" id="triggerCard4">
                <div id="cardPlace4" class="cardPlace"> 
                    <img id= "pic4" src="">
                </div>
            </div>

            <div class="cardPlaceholder" id="triggerCard5">
                <div id="cardPlace5" class="cardPlace"> 
                    <img id= "pic5" src="">
                </div>
            </div>

            <div class="cardPlaceholder" id="triggerCard6">
                <div id="cardPlace6" class="cardPlace"> 
                    <img id= "pic6" src="">
                </div>
            </div>

            <div class="cardPlaceholder" id="triggerCard7">
                <div id="cardPlace7" class="cardPlace"> 
                    <img id= "pic7" src="">
                </div>
            </div>

            <div class="cardPlaceholder" id="triggerCard8">
                <div id="cardPlace8" class="cardPlace"> 
                    <img id= "pic8" src="">
                </div>
            </div>


        </div>
    </div>
</div>

</body>
<script type ="module" src="../appGame.js"></script>
</html>